@base00: #263238;
@base01: #515c6d;
@base02: #586e75;
@base03: #657b83;
@base04: #839496;
@base05: #E0EAEA;
@base06: #eee8d5;
@base07: #fdf6e3;
@base-red: #F07178;
@base-strongorange: #F78C6A;
@base-orange: #FFCB6B;
@base-cyan: #89DDF3;
@base-blue: #82AAFF;
@base-violet: #C792EA;
@base-pink: #FF5370;
@base-red: #F07178;
@base-lightgreen: #C3E88D;
@base-teal: #009688;
@base-lightteal: #73d1c8;
