@base00: #263238;
@base01: #515c6d;
@base02: #586e75;
@base03: #657b83;
@base04: #839496;
@base05: #E0EAEA;
@base06: #eee8d5;
@base07: #fdf6e3;
@base-red: #ef5350;
@base-pink: #ec407a;
@base-amber: #f7ce49;
@base-deeporange: #F78C6A;
@base-cyan: #80deea;
@base-blue: #90caf9;
@base-indigo: #9fa8da;
@base-purple: #df78ef;
@base-green: #80e27e;
@base-lightgreen: #bbf278;
@base-teal: #26a69a;
@base-lightteal: #80cbc4;
