/*
Generated color on
https://material.io/tools/color/
https://material.io/design/color/the-color-system.html#tools-for-picking-colors
*/

@base00: #2E3235;
@base01: #455A64;
@base02: #546E7A;
@base03: #607D8B;
@base04: #90A4AE;
@base05: #BDBDBD;
@base06: #E0E0E0;
@base-red: #EF5350;
@base-deeporange: #FF6E40;
@base-pink: #FA5788;
@base-yellow: #fdd44c;
@base-orange: #F78C6A;
@base-cyan: #4DD0E1;
@base-indigo: #7186f0;
@base-purple: #BE75C9;
@base-green: #66BB6A;
@base-lightgreen: #9CCC65;
@base-teal: #4DB6AC;
